@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=Poppins&display=swap');
:root {
    --linear-gradient: linear-gradient(20deg, #c53838, #991111, #5151e9);
}
* {

    font-family: 'Poppins', sans-serif;

    margin: 0;
    padding: 5;
    box-sizing: border-box;
}


#container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--linear-gradient);
    color: #d1d5db
}   
#calculator {
    max-width: 600px;
background-color: rgb(20, 20, 48); 
border-radius: 20px;
box-shadow: 10px 10px rgba(0,0,0,0,323);
display: flex;
flex-direction: column;
gap: 25px;
padding: 5%;
}
#calculator h2 {
    font-size: 30px;    
    position: relative;
}

    #calculator h2::before {
        position: absolute;
        content: '';
        height: 5px;
background:var(--linear-gradient);
bottom: 5px;
width: 70%
}

#input_box {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-field label  {
font-size: 15px;
 font-weight: 500; 
 font-size: medium;
 color: #fff


}

.input-field input {
    font-size: 20px;
    background-color:  transparent;
    border: none;
    border-bottom: 4px solid #e26868;
    padding: 5px;   
 color: #fff;
}


.input-field input:focus {
    outline: none;
}

#result {
    text-align: center;
    font-size: medium;
}
#total {
    font-size: 23px;
}
#calculate {
    background: var(--linear-gradient);
    border: none;
    padding:10px;
      font-weight: bold;
      font-size: 20px;
      border-radius: 4px;
      cursor: pointer;
      color: #fff;
}

footer {
        position: fixed;
        bottom: 0;
        left: 0; 
        width: 100%;
        color: #fff;
        text-align: center; 
        padding: 10px;
        font-size: 10px;
    }

    @media screen and (max-width: 896px) {
        body {
              overflow: auto; 
          }
          #calculator {
              padding: 20px;
          }
      
          #calculator h2 {
              font-size: 24px;
          }
      
          #calculator h2::before {
              width: 325px;
          }
      
          .input-field label {
              font-size: 14px;
          }
      
          .input-field input {
              font-size: 18px;
          }
      
          #result {
              font-size: 16px;
          }
      
          #total {
              font-size: 20px;
          }
      
          #calculate {
              font-size: 18px;
              padding: 8px;
          }
      
          footer {
              font-size: 8px;
              position: relative; 
              bottom: auto; 
          }
      }
      
      
      @media screen and (max-width: 414px) {
          #calculator {
              padding: 15px;
              width: 100%;
          }
      
          #calculator h2 {
              font-size: 20px;
          }
      
          #calculator h2::before {
              width: 225px;
          }
      
          .input-field label {
              font-size: 12px;
          }
      
          .input-field input {
              font-size: 16px;
          }
      
          #result {
              font-size: 14px;
          }
      
          #total {
              font-size: 18px;
          }
      
          #calculate {
              font-size: 16px;
              padding: 6px;
          }
      
           footer {
              font-size: 6px;
              position: relative; 
              bottom: auto; 
          }
      }
